<div>
  	<h1 class="display-4">Dashboard</h1>
    <hr class="my-4" />
</div>

<div class="row w-100" >
    <div class="col-md w-50 border bg-light shadow p-3 m-5">
        <app-inserir></app-inserir>
    </div>
    <div class="col-md w-50 border bg-light shadow p-3 m-5 ">
        <app-ultimo-sorteio></app-ultimo-sorteio>
    </div>
    <div class="row w-100"></div>
    <div class="col-md w-50 border bg-light shadow p-3 m-5 rounded">
        <app-top10></app-top10>
    </div>
    <div class="col-md w-50 border bg-light shadow p-3 m-5 rounded">
        <app-combinacao></app-combinacao>
    </div>
</div>

