<div class="container-fluid">
    <div class="row w-100">
        <div class="col-md">
            <h3>Inserir novo sorteio</h3>
        </div>
    </div>
    <div class="row w-100" >
        <div class="col-md">
            <p>Acesso rápido para adicionar um novo sorteio. Pode ser de quaquer época.</p>
        </div>
    </div>
    <div class="row w-100 pt-mt-5">
        <div class="col-md">
            <a [routerLink]="['/create']" class="btn btn-primary btn-block" routerLinkActive="active">
                Inserir novo sorteio
            </a>
        </div>
    </div>
</div>
