<div class="row">
	<h5 class="display-6">Numeros</h5>
	<div class="row w-100 text-center" style="height: 70px;">
		<div class="col-md-12 d-flex align-content-start flex-nowrap justify-content-around bd-highlight m-2">
			<div class="p-2 bd-highlight w-50 text-center mr-3 bg-secondary text-white rounded-pill" style="font-size: 1.5em;">{{ Sorteio.Numero1o }}</div>
			<div class="p-2 bd-highlight w-50 text-center mr-3 bg-secondary text-white rounded-pill" style="font-size: 1.5em;">{{ Sorteio.Numero2o }}</div>
			<div class="p-2 bd-highlight w-50 text-center mr-3 bg-secondary text-white rounded-pill" style="font-size: 1.5em;">{{ Sorteio.Numero3o }}</div>
			<div class="p-2 bd-highlight w-50 text-center mr-3 bg-secondary text-white rounded-pill" style="font-size: 1.5em;">{{ Sorteio.Numero4o }}</div>
			<div class="p-2 bd-highlight w-50 text-center mr-3 bg-secondary text-white rounded-pill" style="font-size: 1.5em;">{{ Sorteio.Numero5o }}</div>
		</div>
	</div>
	<div class="row w-100"></div>
	<h5 class="display-6">Estrelas</h5>
	<div class="row w-100 text-center" style="height: 70px;">
		<div class="col-md-12 d-flex align-content-start flex-nowrap justify-content-around bd-highlight m-2">
			<div class="p-2 bd-highlight w-50 text-center mr-3 bg-danger text-white rounded-pill" style="font-size: 1.5em;" >{{ Sorteio.Estrela1o }}</div>
			<div class="p-2 bd-highlight w-50 text-center mr-3 bg-danger text-white rounded-pill" style="font-size: 1.5em;" >{{ Sorteio.Estrela2o }}</div>
		</div>
	</div>
</div>
