<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
    <a class="navbar-brand font-weight-bold text-uppercase text-white">Loteria SPA</a>
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="dashboard" class="nav-link" routerLinkActive="active">
                    <i class="material-icons font-icon">dashboard</i>
                    <label class="name-icon">Dashboard</label>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="create" class="nav-link" routerLinkActive="active">
                    <i class="material-icons font-icon">input</i>
                    <label class="name-icon">Novo Sorteio</label>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="index" class="nav-link" routerLinkActive="active">
                    <i class="material-icons font-icon">list</i>
                    <label class="name-icon">Todos Sorteios</label>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="controle-apostas" class="nav-link" routerLinkActive="active">
                    <i class="material-icons font-icon">euro_symbol</i>
                    <label class="name-icon">Controle de Apostas</label>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="gerar-combinacoes" class="nav-link" routerLinkActive="active">
                    <i class="material-icons font-icon">class</i>
                    <label class="name-icon">Gerar Combinações</label>
                </a>
            </li>
        </ul>
        <a routerLink="login" class="btn btn-link">
            <i class="material-icons font-icon">person</i>
        </a>
        <a (click)="logout()" href="#" class="btn btn-link">
            <i class="material-icons font-icon">power_settings_new</i>
        </a>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
