
<div class="row">
	<table class="table table-hover w-100">
		<thead>
			<tr class="text-center">
				<th colspan="5" >Numeros</th>
				<th colspan="2" >Estrelas</th>
				<th style="width: 15%;"></th>
			</tr>
			<tr class="text-center">
				<th>1o</th>
				<th>2o</th>
				<th>3o</th>
				<th>4o</th>
				<th>5o</th>
				<th>1o</th>
				<th>2o</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let sorteio of listaSorteio" class="text-center">
				<td>{{ sorteio.Numero1o }}</td>
				<td>{{ sorteio.Numero2o }}</td>
				<td>{{ sorteio.Numero3o }}</td>
				<td>{{ sorteio.Numero4o }}</td>
				<td>{{ sorteio.Numero5o }}</td>
				<td>{{ sorteio.Estrela1o }}</td>
				<td>{{ sorteio.Estrela2o }}</td>
				<td>
					<a (click)="adicionar(sorteio);" class="btn btn-success" [ngClass]="{'visible': buttonAdd == 'S','invisible': buttonAdd == 'N'}">
              <i class="material-icons">save_alt</i>
              Gravar
          </a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
